[package]
name = "agent_world_builtin_wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_cbor = "0.11"
serde_json = "1"
